body{
  background:#001f3f;
  color:white;
  font-family:Arial;
  padding:30px;
}

.upload-box,#dashboard{
  background:#012b5a;
  padding:20px;
  margin-top:20px;
  border-radius:10px;
}

.file-card{
  background:#014a8f;
  padding:10px;
  margin:10px 0;
  border-radius:8px;
  display:flex;
  align-items:center;
  gap:10px;
}

.file-icon{
  width:40px;
}

.qr-page{
  display:none;
  position:fixed;
  top:0; left:0;
  width:100%; height:100%;
  background:#000c20;
  color:white;
  padding:30px;
  text-align:center;
}

#viewerFrame{
  width:100%;
  height:75vh;
  border:none;
  background:white;
  margin-top:10px;
}

#viewerBox{
  margin-top:30px;
  padding:20px;
  background:#012b5a;
  border-radius:10px;
}
